/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.buildpath
.settings/
.idea/
.ide_helper.php
_ide_helper.php
_ide_helper_models.php
.DS_store
/composer.phar
/storage/credential/
.vscode/
